body 
{
	overflow: visible;
	margin: 0px 0px 0px 0px;
}

/* General font families for common tags */
table
{
	border-collapse: collapse;
}

font,th,td,p,div { font-family: Arial, Helvetica, sans-serif}
p, td, div { font-size: 11px; color : #000000; }
a:link,a:active,a:visited { color : #006699; text-decoration: none}
a:hover		{ text-decoration: underline; color : #DD6900; }
hr{ height: 0px; border: solid #D1D7DC 0px; border-top-width: 1px;}
h1,h2		
{ 
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
	font-size : 22px; 
	font-weight : bold; 
	text-decoration : none; 
	line-height : 120%; 
	color : #000000;
}

ul
{
	padding: 5px 0px 5px 0px;
	margin: 0px 5px 0px 20px;
}

/* Main table cell colours and backgrounds */
td.row1	{ background-color: #EFEFEF; }
td.row2	{ background-color: #DEE3E7; }
td.row3	{ background-color: #D1D7DC; }

/* Header cells - the blue and silver gradient backgrounds */
th
{
	color: #FFA34F; 
	font-size: 11px; 
	font-weight : bold;
	background-color: #006699; 
	height: 25px;
}

td.catSides
{
	background-color: #CCCCCC;
	background-image: url(../images/cellpic1.gif);
}

th.thHead
{
	font-weight: bold; 
	height: 28px; 
	font-size: 12px; 
	border-width: 1px 1px 0px 1px; 
}

.logoutText
{
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
.logoutText a:link, .logoutText a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}
.logoutText a:hover
{
	color: #FFFFFF;
	text-decoration: underline;
}


.maindiv
{
	overflow: auto;
	scrollbar-face-color: #DEE3E7;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #DEE3E7;
	scrollbar-3dlight-color: #D1D7DC;
	scrollbar-arrow-color:  #006699;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
	border: 1px outset #C9D7E7;
}

/* The largest text used in the index page title and toptic title etc. */
.maintitle	
{
	font-weight: bold; 
	font-size: 22px; 
	font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none; 
	line-height : 120%; 
	color : #000000;
}


/* General text */
.gen { font-size : 12px; }
.genmed { font-size : 11px; }
.gensmall { font-size : 10px; }
.gen,.genmed,.gensmall { color : #006699; cursor:pointer}
a.gen,a.genmed,a.gensmall { color: #006699; text-decoration: none; }
a.gen:hover,a.genmed:hover,a.gensmall:hover	{ color: #006699; text-decoration: underline; }


/* The register, login, search etc links at the top of the page */
.mainmenu		{ font-size : 11px; color : #000000 }
a.mainmenu		{ text-decoration: none; color : #006699;  }
a.mainmenu:hover{ text-decoration: underline; color : #DD6900; }


/* Forum category titles */
.cattitle		{ font-weight: bold; font-size: 12px ; letter-spacing: 1px; color : #006699}
a.cattitle:link		{ text-decoration: none; color : #006699; }
a.cattitle:visited		{ text-decoration: none; color : #006699; }
a.cattitle:hover{ text-decoration: underline; }

.subCatSides 
{
	font-weight: bold; 
	font-size: 11px ; 
	letter-spacing: 1px; 
	color : #006699; 
	background-color:#e1e1ec;
}
a.subCatSides		{ text-decoration: none; color : #006699; }
a.subCatSides:hover{ text-decoration: underline; }


/* Forum title: Text and link to the forums used in: index.php */
.forumlink		{ font-weight: bold; font-size: 12px; color : #006699; }
a.forumlink 	{ text-decoration: none; color : #006699; }
a.forumlink:hover{ text-decoration: underline; color : #DD6900; }

/* Form elements */
textarea, select 
{
	color : #000000;
	font: normal 11px Arial, Helvetica, sans-serif;
	border: 1px solid #6699CC;
}

input
{
	color : #000000;
	font: normal 11px Arial, Helvetica, sans-serif;
}

input.textbox
{
	border: 1px solid #6699CC;
}

input.listOrderTxtBox
{
	border: 1px solid #6699CC;
	text-align: center;
	width: 40px;
}

input { text-indent : 2px; }

/* The buttons used for bbCode styling in message post */
button 
{
	color : #000000;
	font-size: 11px; font-family: Arial, Helvetica, sans-serif;
	padding: 0px 10px 0px 10px;
	background-color: #D9D9D9;
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}

.loginform
{
	color:#002266;
	background-color:#F5F5F5;
	text-decoration:none;
	border: 1px outset;
}

.adminform
{
	background-color:#FFFFFF;
	border: 1px solid #CCCCCC;
}

.modulehead
{
	font-size: 20px;
	line-height: 40px;
	color: #993300;
}

.noresult
{
	font-size: 16px;
	font-weight: bold;
	color: #FF3300;
	height: 150px;
	background-color: #F5F5F5;
	text-align: center;
}

.headlink
{
	font-size: 12px;
	font-weight: bold;
	width: 400px;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
}

.headLinkBar
{
	width: 418px;
	border-bottom: 1px solid #EEEEEE;
}

.headform
{
	background-image: url(../images/background.jpg);
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
	height: 35px;
}

.rowform
{
	background-color: #F5F5F5;
	padding-left: 10px;
}

a.toolbar 
{
	color : #808080;
	text-decoration : none;
	display: block;
	border: 1px solid #DDD;
	width: 65px;
	padding: 2px 1px 2px 1px;
}

a.toolbar:hover 
{
	color : #C64934;
	border: 1px solid #c24733;
	background-color: #f1e8e6;
	padding: 3px 0px 1px 2px;
	text-decoration: none;
}

a.toolbar:active 
{
	color : #FF9900;
}

.icon_l
{
	margin-right: 5px;
	cursor: pointer;
}

.itemselected
{
	color: #FF9933;
	font-weight: bold;
}

.text_grey
{
	color: #333333;
}

.rowlist 
{ 
	color: #003399;
	font-weight: bold;
	border-bottom: 1px solid #EEEEEE;
}

.tbllist
{
	border-left: 1px solid #CCCCCC;
	border-bottom: 1px solid #999999;
}

.tblinfo
{
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

.rowinfohead
{
	color: #333333;
	font-weight: bold;
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	padding: 5px 5px 5px 10px;
}

.rowinfo
{ 
	color: #003399;
	border-bottom: 1px solid #FFFFFF;
	padding: 5px 5px 5px 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.rowinfo ul
{
	list-style-image: url(../images/chochet.gif);
	list-style-position: 0px;
}